.btn{
    width: auto;
    height: auto;
    padding: 10px;
    border-radius: 5px;
    border-color: transparent;
    outline: none;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    font-family:  "Poppins", sans-serif;
    cursor: pointer;
    margin: 10px;
    
  }
  

  .btn-principal{
    background-color: #2196f3;
    color: #fff;
  }

  .btn-principal:hover{
    transform: scale(106%);
    background-color: #1a6aabfe;
    color: #fff;
  }
  

  .btn-secondary{
    background-color: #23c186;
    color: #fff;
  }

  .btn-secondary:hover{
    transform: scale(106%);
    background-color: #146d4d;
    color: #fff;
  }
  
  
  .btn-success{
    background-color: #21f360;
    color: #fff;
  }
  
  .btn-success:hover{
    transform: scale(106%);
    background-color: #149039;
    color: #fff;
  }
  
  .btn-danger{
    background-color: #f33a21;
    color: #fff;
  }
  
  .btn-danger:hover{
    transform: scale(106%);
    background-color: #902213;
    color: #fff;
  }
  
  .btn-warning{
    background-color: #cec81c;
    color: #fff;
  }
  
  .btn-warning:hover{
    transform: scale(106%);
    background-color: #928d14;
    color: #fff;
  }